body {
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: default;
    font-family:  "Montserrat";
}

.container {
    margin: 0 auto;
    width: 60%;
    height: 700px;
    background-color: #DDA0DD;
    display: flex;
    justify-content: flex-end;
}

.container__left-side {
    width: 35%;
    height: 690px;
    background-color: #E6E6FA;
    margin: 5px 0;
    text-align: justify;
}

.photo {
    width: 50%;
    margin: 10% 25%;
    border-radius: 50%;
}

.title-text {
    text-align: center;
    color: #800080;
}

h2 {
    margin-top: 0;
}

h3 {
 font-weight: lighter;
}

.text {
    color: #800080;
    margin: 0 5%;
}

.container__right-side {
    width: 65%;
    margin: 3%;
}

.text-title {
    background-color: #E6E6FA;
    color: #800080;
    font-weight:  bold;
    padding: 1%;
    text-transform: uppercase;
}
